.Frame5-More {
    padding-top: 2em;
    display: none;
}

.Frame5-More-Mission {
    align-items: center;

}

.More-Title h1 {
    font-size: 2.4375em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.More-Title p {
    color: #969696;
    font-size: 1.5625em;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.More-Mission-Text {
    width: 40em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.Frame5-More-Press {
    align-items: center;
}

.More-Press-Text {
    width: 40em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.Frame5-More-History {
    align-items: center;
}

.More-History-Text {
    width: 40em;
    padding-top: 2em;
    padding-bottom: 4em;
}