.Modal1 {
    /* display: flex; */
    border: none;
    border-radius: .5em;
    padding: 20px;
    background-color: #fff;
    width: 103.125em;
    margin: auto;
    text-align: center ;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
    color: #78A632;
}

.modal-content {
    text-align: left;
}


.modal-content-Options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60em;
}

#closeModal {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

body.modal-open {
    overflow: hidden; 
    /* This somehow makes the stop scroll not break everything */
}






.content-option-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 1em;
    color: grey;

}

.option-box {
    border: 0.2em solid #808080;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1em;
    /* pointer-events: none; */
    background-color:  #fff;
}



.content-option p {
    color: grey;
}

