.Modal1 {
    /* display: flex; */
    border: none;
    border-radius: .5em;
    padding: 20px;
    background-color: #fff;
    width: 103.125em;
    margin: auto;
    text-align: center ;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
    color: #78A632;
}

.modal-content {
    text-align: left;
}

.options-Stores {
    gap: 1.6em;
}

.modal-content-Options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50em;
    margin-top: 2em;
}

#closeModal {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

body.modal-open {
    overflow: hidden; 
    /* This somehow makes the stop scroll not break everything */
}


#SuggestionsBox {
    border-color: #fff;
    border: 0.2em solid grey;
    border-radius: .5em;
    padding: 0.3em;

    margin: 1em;
    margin-left: 0;
}


#SuggestionsText {
    margin: 1em;
    margin-left: 0;
    margin-bottom: 0;
}

.content-option-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 1em;
    color: grey;
    margin-top: 1em;
}

.option-box {
    border: 0.2em solid #808080;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1em;
    /* pointer-events: none; */
    background-color:  #fff;
}

.options-FromHome {
    margin-top: 1em;
    padding-bottom: 1em;
}


.content-option p {
    color: grey;
}



.modal-content-Contact {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 50em;
    margin-top: 2em;
}

.contact-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 10em;

}

.modal-contact-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.location-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20em;
    height: 20em;
}

/* .text-field {

} */