.NavBar{
    display: flex;
    justify-content: space-between;
    margin-right: 6em;
    margin-left: 6em;

}

.Nav-Logo {
    display: flex;
    gap: 1em;
    margin: 2em;
    align-items: center;

}


.Nav-Logo-Img {
    justify-content: center;
}

.Nav-Logo-Img img{
    height: 4em;
    width: 4em;

}

.Nav-Logo-Text {
    align-items: baseline;
}

.Nav-Logo-Text p{
    font-size: 3.5em;
    
    color: #B5DD78;
}

@keyframes changeClick {
    0% { color: #3777FF; } /* Start with blue color */
  100% { color: inherit; } /* End with the default color */
}

.Nav-Menu {
    display: flex;
    margin: 2em;

}

.Nav-Item {
    background-color: #FFF;
    padding: 0.5em 0.5em 0.5em;
    margin-right: 3em;
    /* gap: 1em; */
    border: none;

}

.Nav-Item:active {
    animation: changeClick 1s;
}

.Nav-Item:Hover {
    transition: ease-in-out;
    color: grey;
}

.Nav-Item p{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 120%;  
    text-align: center;
    
}